@charset "UTF-8";
header {
    font-size: 14px;
    position: relative;
    z-index: 10;
    color: #d9d9d9;
    background-color: #003253;
}

.top-bg {
    font-size: 14px;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #d9d9d9;
    background-color: #003253;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-bg.preload1 {
    background-image: url(../img/home/bg1.jpg);
    background-position: center center;
}

.top-bg.preload2 {
    background-image: url(../img/home/bg2.jpg);
    background-position: center center;
}

.top-bg.preload3 {
    background-image: url(../img/home/3.jpg);
    background-position: center center;
}

nav {
    line-height: 50px;
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: right;
}

nav > span {
    font-size: 20px;
    display: inline-block;
    width: 50px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

#slides {
    position: absolute;
    z-index: 60;
    top: 50px;
    right: 10px;
    display: none;
    width: 230px;
    padding: 5px;
    border-radius: 5px;
    background-color: #000;
}

.ot {
    background-color: #1e1e1e;
}

#slides > ul > li {
    line-height: 35px;
    float: left;
    width: 50%;
    height: 35px;
    cursor: pointer;
    text-align: center;
}

.figge {
    padding: 10px;
}

.eme {
    text-indent: 2em;
}

.eme2 {
    margin-top: 20px;
}

.detail {
    text-align: right;
}

.detail > span {
    cursor: pointer;
    color: lightblue;
}

.logoplace {
    position: absolute;
    z-index: 30;
    top: 134px;
    left: 0;
    width: 100%;
    text-align: center;
}

.top-container {
    position: absolute;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.xpur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background: #000;
}

.left {
    font-size: 40px;
    line-height: 300px;
    position: absolute;
    top: 50%;
    left: -100px;
    width: 200px;
    height: 200px;
    /*
    background: #000;
    opacity:0.3;*/
    margin-top: -100px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    /* Safari å’Œ Chrome */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
}

.left span {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 170px;
    border-bottom: 3px solid rgba(255, 255, 255, .2);
    border-left: 3px solid rgba(255, 255, 255, .2);
}

#more {
    position: absolute;
    z-index: 50;
    top: 20px;
    left: 50%;
    display: none;
    width: 500px;
    height: auto;
    margin-left: -250px;
    padding: 10px;
    color: #000;
    border-radius: 5px;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 2px #000;
}

#more span {
    cursor: pointer;
    color: blue;
}

#more > table {
    display: none;
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: center;
}

#more th {
    padding: 5px 0;
}

#more td > span {
    color: red;
}

#more td {
    padding: 10px 0;
}

.middle {
    position: absolute;
    z-index: 40;
    top: 500px;
    left: 50%;
    width: 500px;
    /*height:50px;*/
    /*margin:-25px 0 0 -250px;*/
}

.middle > a {
    display: block;
}


/*.middle>input:first-of-type{
    width:80%;
    height:50px;
    border:1px solid #0168b8; 
    border-right: none;
    background:rgba(255,255,255,.8);
    font-size: 28px;
    text-indent: 1em;
    box-sizing: border-box;
    float:left;
    outline:medium;
}
.middle>input:last-of-type{
    width:20%;
    height:50px;
    border:1px solid #0168b8; 
    border-left: 1px solid #0168b8;
    box-sizing: border-box;
    background: rgba(255,255,255,.8) url(../img/home/enter_13.png) no-repeat center center; 
    float: left;
    cursor: pointer;
    outline:medium;
}*/

::-webkit-input-placeholder {
    text-indent: 1em;
}

::moz-placeholder {
    text-indent: 1em;
}

:moz-placeholder {
    text-indent: 1em;
}

::-ms-input-placeholder {
    text-indent: 1em;
}

.right {
    font-size: 40px;
    line-height: 300px;
    position: absolute;
    top: 50%;
    right: -100px;
    width: 200px;
    height: 200px;
    /*
    background: #000;
    opacity:0.3;*/
    margin-top: -100px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    /* Safari å’Œ Chrome */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
}

.right span {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 170px;
    margin-left: 10px;
    border-top: 3px solid rgba(255, 255, 255, .2);
    border-right: 3px solid rgba(255, 255, 255, .2);
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
}

.logo {
    line-height: 50%;
    float: left;
    padding-left: 10px;
}

.sdrf {
    float: right;
}

.sdrf > li {
    float: left;
    margin-right: 10px;
    color: #666;
}

.sdrf > li > a {
    margin-right: 10px;
    color: #666;
}

.sdrf > li > a:hover {
    color: #fff;
}

.nor {
    position: absolute;
    z-index: 45;
    top: 50%;
    left: 50%;
    display: none;
    width: 500px;
    height: 400px;
    margin-top: -200px;
    margin-left: -250px;
    border-radius: 4px;
    background-color: #fff;
}

.titled {
    line-height: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #999;
}

.titled > ul {
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    float: left;
    width: 450px;
    padding-top: 5px;
    color: #333;
}

.titled > ul > li {
    line-height: 45px;
    float: left;
    width: 100px;
    height: 45px;
    cursor: pointer;
    text-align: center;
}

.titled > ul > li:first-of-type {
    margin-left: 10px;
}

.e {
    box-sizing: border-box;
    border: 1px solid #999;
    border-bottom: 2px solid #fff;
}

.titled > span {
    font-size: 26px;
    display: inline-block;
    float: left;
    width: 50px;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.titled > span:hover {
    color: #000;
}

.contents > form {
    margin: 80px auto 0;
}

.contents > form > p {
    font-size: 18px;
    line-height: 200%;
    height: 70px;
    text-align: center;
    color: #333;
}

#subzhuce {
    display: none;
}

#subdeng > p:nth-of-type(1) > input,
#subdeng > p:nth-of-type(2) > input,
#subzhuce > p:nth-of-type(1) > input,
#subzhuce > p:nth-of-type(2) > input,
#subzhuce > p:nth-of-type(3) > input {
    width: 260px;
    height: 30px;
    text-indent: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

#subzhuce > p:nth-of-type(3) {
    text-indent: -2em;
}

#subdeng > p:nth-of-type(3),
#subzhuce > p:nth-of-type(4) {
    padding-left: 50px;
}

#subdeng > p:nth-of-type(3) > input,
#subzhuce > p:nth-of-type(4) > input {
    width: 70px;
    height: 30px;
    margin: 0 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-bottom: 3px solid #0078b3;
    border-radius: 2px;
    background-color: #2795dc;
}

#subdeng > p > label:nth-of-type(2),
#subzhuce > p > label:nth-of-type(2) {
    display: block;
    width: 260px;
    margin: 0 auto;
    text-align: left;
    text-indent: 2em;
}

.error {
    font-size: 12px;
    color: red;
}

@media screen and (max-width: 600px) {
    .middle {
        width: 80%;
        margin-left: -40%;
    }
}

@media screen and (max-width: 767px) {
    .foot,
    .left,
    .right {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .logoplace > img {
        width: 80%;
    }
    .nor {
        width: 90%;
        margin-left: -45%;
    }
    .titled > ul {
        width: 85%!important;
    }
    .titled > span {
        width: 15%!important;
    }
    #subdeng > p:nth-of-type(1) > input,
    #subdeng > p:nth-of-type(2) > input,
    #subzhuce > p:nth-of-type(1) > input,
    #subzhuce > p:nth-of-type(2) > input,
    #subzhuce > p:nth-of-type(3) > input,
    #subdeng > p > label:nth-of-type(2),
    #subzhuce > p > label:nth-of-type(2) {
        width: 160px;
    }
}
