@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-06 10:38:21
 * @version $Id$
 */

header {
	background: url(../img/anbao/ab_bg.png) no-repeat center;
}
.nav{
	background-color:#022237;
}
.fix{
	position:fixed;
	top:70px;
	width:100%;
}
.shuju{
	width:960px;
	margin: auto;
}
.shuju>li{
	width:192px;
	text-align:center;
	cursor: pointer;
}
.shuju>li:hover{
	background:#030303;
}
.shuju>li>a{
	color:#fff;
	display:inline-block;
	width:192px;
	height:40px;
	line-height:40px;
}
.content{
	max-width:960px;
	width:100%;
	margin:auto;
	color: #575757;
	font-size: 14px;
}
.content>ul>li{
	padding:50px 0;
	border-top: 1px solid #F0F0F0;
}
.li{
	padding:86px 0 66px 0!important;
}
.li2_1{
	padding:15px 10px;
	background-color: #F0F0F0;
}
.h1{
	font-size: 28px;
	color: #289cd2;
	background-position: 17px top;
	background-repeat: no-repeat;
	text-indent: 2.2em;
	height:60px;
	line-height:60px;
	margin:0 0 45px;
	font-weight: bold;
}
.h1_bg{
	background-image: url(../img/anbao/ll_09.png);
}
.h1_bg1{
	background-image: url(../img/anbao/l1_22.png);
	border-right: 4px solid #d11b27;
}
.h1_bg2{
	background-image: url(../img/anbao/l2_22.png);
}
.h1_bg3{
	background-image: url(../img/anbao/l3_22.png);
}
.h1_bg4{
	background-image: url(../img/anbao/l4_22.png);
}
.h1_bg5{
	background-image: url(../img/anbao/l5_22.png);
}
.li1_1{
	margin-left:36px;
}
p>img{
	padding:3px;
	border:2px solid #e8e8e8;
	border-radius:2px;
}
.p_content{
	width:800px;
}
.p_content1{
	width:446px;
	height:60px;
	margin:0 0 45px;
}
.p_content2{
	width:446px;
	height:60px;
	border-left: 4px solid #d11b27;
	margin: 105px 0 0 16px;
    	padding-left: 15px;
}
.p_content3{
	width:446px;
	border-left: 4px solid #d11b27;
    	padding-left: 15px;
}
.p_content4{
	width:960px;
	border-left: 4px solid #d11b27;
    	padding-left: 15px;
    	margin-bottom: 20px;
}
.p_img3{
	margin-left:30px;
}
.p_img4{
	padding:24px 20px;
	border:1px solid #E3F3FD;
}
.p_img4>img{
	border:0;
	padding:0;
	border-radius:0;
}
.p_img4>.img2{
	margin-left:20px;
}